# flask==3.0.2
# paddleocr==2.7.0.2
# paddlepaddle==2.5.2
# opencv-python-headless==4.8.1.78
# shapely==2.0.1
# scikit-image==0.18.3
# imgaug==0.4.0
# pyclipper
# lmdb
# tqdm
# numpy==1.24.3
# visualdl
# python-Levenshtein
# werkzeug==2.2.3
# markupsafe
# click
# blinker
flask==2.2.5
paddleocr==2.7.0.3
paddlepaddle==2.6.1
opencv-python-headless==4.8.1.78
shapely==2.0.2
scikit-image==0.22.0
imgaug==0.4.0
pyclipper==1.3.0.post6
lmdb==1.4.1
tqdm==4.66.1
numpy==1.26.0
visualdl==2.5.3
python-Levenshtein==0.23.0
werkzeug==2.2.3
markupsafe==2.1.3
click==8.1.7
blinker==1.7.0